/* ===================== Overall ===================== */
body {
    padding: 30px;
}

.container {
    width: 40%;
    margin: auto;
    padding: 50px 0;
}

.container .website-logo {
    margin: 0 auto;
    display: block;
    max-width: 260px;
    width: 100%;
}

.container h4 {
    text-align: center;
    margin: 30px 0;
    color: #858585;
    font-size: 14px;
    font-weight: 100;
}

.container form {
    margin-top: 40px;
}

.container form label {
    margin-top: 20px;
    font-size: 14px;
    display: block;
}

.container form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Merriweather', serif;
    outline: none;
}

.container form input[type=text],
.container form input[type=password],
.container form input[type=email] {
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.container form .status {
    font-size: 13px;
    color: #E74C3C;
}

.container form .submit {
    border: none;
    background: none;
    background-color: #E74C3C;
    margin-top: 17px;
    color: white;
}

.container form .submit:hover {
    cursor: pointer;    
    background-color: #EF7E6B;
}

.container .auth-redirect-label {
    margin: 20px 0;
    text-align: center;
    font-size: 13px;
}

.container p .auth-redirect-link {
    color: #E74C3C;
}

.container form .outline-submit {
    border: none;
    background: none;
    color: #E74C3C;
    margin-top: 17px;
    border: 1px solid #E74C3C;
}

.container form .outline-submit:hover {
    cursor: pointer;    
    color: #EF7E6B;
    border-color: #EF7E6B;
}

/* ===================== /register ===================== */
.container form .agree-cb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.container form .agree-cb:hover {
    cursor: pointer;
}

.container form .agree-cb:checked {
    background-color: #E74C3C;
    border-color: #E74C3C;
    position: relative;
}

.container form .agree-cb:checked::before {
    content: '✔';
    color: white;
    font-size: 14px;
}

.container form .agree-label {
    display: inline-block;
    color: #858585;
    user-select: none;
    padding-left: 7px;
    font-weight: 300;
    font-size: 14px;
}

.container form .agree-label:hover {
    cursor: pointer;
}

.container form .agree-label a {
    color: #858585;
}

/* ===================== /confirm-email ===================== */
.container form .verification-guidelines {
    font-size: 14px;
    color: #858585;
    margin: 10px 0 5px 0;
    line-height: 2;
}

.container form .verification-guidelines .highlight {
    font-weight: 600;
    text-decoration: underline;
}

.container form .status {
    margin-top: 10px;
}

.container form .resend-code {
    width: auto;
    float: right;
    border: none;
    color: #E74C3C;
    outline: none;
    background: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.container form .resend-code:hover {
    cursor: pointer;
    color: #EF7E6B;
}

.container .change-email {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: underline;
    color: #E74C3C;
    user-select: none;
}

.container .change-email:hover {
    cursor: pointer;
}

.container .update-email-form {
    margin-top: 20px;
}

.container .update-email-form.hide {
    display: none;
}

.container .status {
    color: #E74C3C;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

.container form .status {
    color: #E74C3C;
    text-align: left;
    font-weight: 400;
    margin: 10px 0 0 0;
}