.container {
    width: 100%;
    height: 92.4vh;
    display: flex;
}

.container div {
    flex-basis: 50%;
}

.status {
    color: #E74C3C;
    font-size: 13px;
    margin-top: 5px;
}

/* ========================================= Map ========================================= */
.container #map {
    height: inherit;
    border-right: 1px solid rgba(189, 195, 199, 0.5);
}

.container .mapboxgl-popup-content {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
    padding-top: 12px;
    background-color: #EF7E6B;
}

/* ========================================= Place List ========================================= */
.place-list {
    height: inherit;
    padding: 0 20px 15px 20px;
    overflow-y: auto;
}

.place-list .new-library {
    margin: 15px 0;
    font-size: 12px;
    color: #93989B;
    user-select: none;
}

.place-list .new-library .add-library {
    text-decoration: underline;
    color: #E74C3C;
    cursor: pointer;
}

.place-list .search-form {
    display: flex;
    align-items: center;
    margin: 15px 0;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.place-list .search-form i {
    padding: 10px 5px 10px 10px;
    color: #93989B;
}

.place-list .search-form .search-place {
    flex: 1;
    padding: 10px 10px 10px 5px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: none;
}

.place-list .place-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
}

.place-grid .place-item {
    position: relative;
    height: 350px;
    /* background-image: url('../images/sample-library.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(189, 195, 199, 0.5);
    text-decoration: none;
    cursor: pointer;
}

.place-item .content {
    color: white;
    width: 100%;
    padding: 10px 12px;
    text-wrap: wrap;
    bottom: 0;
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.place-item .content .place-name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 3px;
}

.place-item .content .ri-map-pin-line {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.place-item .content .place-address {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
}

.place-item .content .ratings i {
    color: #F0BB40;
}

/* ========================================= Place Detail ========================================= */
.place-detail {
    display: none;
    height: inherit;
    padding: 15px 20px;
    overflow-y: auto;
}

.place-detail .name {
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
    color: #1D1D1D;
}

.place-detail .last-updated {
    color: #858585;
    margin: 5px 0;
    font-size: 13px;
}

.place-detail .last-updated .contributor {
    font-weight: 600;
    color: #E74C3C;
    /* cursor: pointer; */
}

.place-detail .address {
    color: #858585;
    font-size: 14px;
    border: 1px solid rgba(189, 195, 199, 0.5);
    text-align: center;
    padding: 10px 15px;
    margin: 10px 0;
}

.place-detail .address i {
    font-size: 18px;
    margin-right: 3px;
    vertical-align: middle;
}

.place-detail .address .full {
    vertical-align: middle;
}


.place-detail .ratings {
    display: inline-block;
    color: #F0BB40;
}

.place-detail .place-images-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.place-detail .place-images-preview img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.place-detail .about,
.place-detail .about-content {
    display: none;
}

.place-detail .about-content {
    font-size: 14px;
    line-height: 1.5;
    color: #1D1D1D;
    text-align: justify;
}

.place-detail .about-content i {
    font-size: 16px;
    margin-right: 5px;
}

.place-detail h2 {
    font-weight: 500;
    font-size: 23px;
    margin: 15px 0 5px 0;
}

.place-detail .amenities .amenity {
    padding: 20px 0;
    border-bottom: 1px solid rgba(189, 195, 199, 0.5);
}

.place-detail .amenities .amenity i {
    margin-right: 10px;
    font-size: 18px;
}

.place-detail .reviews {
    margin-top: 20px;
}

.review-form .my-review {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
    resize: none;
    overflow: hidden;
}

.star-rating {
    display: inline-flex;
    align-items: center;
}

.star {
    font-size: 30px;
    color: #ddd; /* Default gray for unselected stars */
    cursor: pointer;
    user-select: none;
}

.star.selected {
    color: #F0BB40; /* Highlight color for selected stars */
}

#rating-display {
    margin: 5px 10px 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #858585;
}

.review-form .submit-review {
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    color: #E74C3C;
    background: none;
    font-family: 'Merriweather', serif;
    border: 1px solid #E74C3C;
}

.review-form .submit-review:hover {
    cursor: pointer;
    color: #EF7E6B;
    border: 1px solid #EF7E6B;
}

.review-item {
    padding: 10px 0;
    margin: 10px 0;
}

.review-item img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.review-item .user {
    display: inline-block;
    vertical-align: middle;
    color: #1D1D1D;
    font-size: 15px;
    margin-left: 7px;
}

.review-item .date-posted {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 7px;
    color: #858585;
    font-weight: 400;
}

.review-item .content {
    color: #858585;
    font-size: 13px;
    line-height: 2;
}

.place-detail .edit-place-redirect {
    margin-top: 20px;
    text-align: right;
    font-size: 13px;
    color: #858585;
    cursor: pointer;
}

.place-detail .edit-place-redirect i {
    font-size: 15px;
    margin-right: 3px;
}

/* ========================================= Manage Place ========================================= */
.manage-place {
    display: none;
    height: inherit;
    padding: 15px 20px 0 20px;
    overflow-y: auto;
}

.manage-place h2 {
    font-size: 20px;
    margin: 15px 0;
}

.manage-place form label {
    margin-top: 10px;
    font-size: 16px;
    display: block;
}

.manage-place form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Merriweather', serif;
    outline: none;
}

.manage-place form input[type=text]{
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.manage-place form .current-loc-btn {
    background: none;
    margin-bottom: 10px;
    border: none;
    color: #E74C3C;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    cursor: pointer;
}

.manage-place form .current-loc-btn:hover {
    color: #EF7E6B;
}

.manage-place form .ri-map-pin-line {
    margin-right: 5px;
    font-size: 17px;
    color: #E74C3C;
}

.manage-place form #location-address,
.manage-place form #place-about {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
    resize: none;
    overflow: hidden;
}

.manage-place form #location-address {
    min-height: 20px;
}

.manage-place form #add-file-btn {
    padding: 10px 20px;
    margin: 10px 0 0 0;
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    background: none;
    background-color: #E74C3C;
    color: white;
}

.manage-place form #add-file-btn:hover {
    cursor: pointer;    
    background-color: #EF7E6B;
}

.manage-place form #add-file-btn i {
    font-size: 16px;
    margin-right: 5px;
}

.manage-place form .note {
    font-size: 13px;
    color: #858585;
    margin: 10px 0;
    line-height: 2;
}

.manage-place form .note .highlight {
    font-weight: 700;
}

.manage-place form ul#image-preview {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
    user-select: none;
    margin: 15px 0;
}

.manage-place form ul#image-preview li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* cursor: move; */
}

.manage-place form ul#image-preview li img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.manage-place form ul#image-preview li span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #E74C3C;
    color: white;
    cursor: pointer;
    padding: 0 2px;
    border-radius: 100%;
    font-family: 'Merriweather', serif;
}

.manage-place form .amenities-label {
    margin-bottom: 10px;
}

.manage-place .input-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: move; /* Indicates the draggable functionality */
}

.manage-place form .input-container input {
    flex-grow: 1;
    font-weight: 500;
}

.manage-place form .remove-btn {
    background-color: #EF7E6B;
    color: white;
    border: none;
    padding: 11px 10px;
    font-family: 'Merriweather', serif;
}

.manage-place form .remove-btn:hover {
    cursor: pointer;
    background-color: #E74C3C;
}

.manage-place form .add-amenity-btn {
    padding: 10px 20px;
    /* margin: 10px 0; */
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    background: none;
    border: 1px solid #E74C3C;
    color: #E74C3C;
}

.manage-place form .add-amenity-btn i {
    font-size: 16px;
}

.manage-place form .add-amenity-btn:hover {
    cursor: pointer;    
    color: #EF7E6B;
    border: 1px solid #EF7E6B;
}

.manage-place form input[type=submit] {
    margin-top: 30px;
    background-color: #E74C3C;
    color: white;
    border: none;
    cursor: pointer;
}

.manage-place form input[type=submit]:hover {
    background-color: #EF7E6B;
}

/* ========================================= Newsletter ========================================= */
.newsletter {
    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 0;
    padding: 10px 25px;
    border-top: 1px solid rgba(189, 195, 199, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* remove this */
    display: none;
}

.newsletter .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.newsletter .content div {
    text-align: center;
}

.newsletter .content div h5 {
    font-size: 14px;
    color: #1D1D1D;
}

.newsletter .content div p {
    font-size: 11px;
    margin-top: 5px;
    color: #93989B;
}

.newsletter .content form {
    margin: 0 15px;
}

.newsletter .content form .email {
    height: 100%;
    padding: 0 7px;
    font-family: 'Merriweather', serif;
    color: #1D1D1D;
    font-size: 13px;
    width: 250px;
    outline: none;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.newsletter .content form .subscribe-btn {
    height: 100%;
    background: none;
    padding: 0 10px;
    border: none;
    outline: none;
    font-family: 'Merriweather', serif;
    color: #E74C3C;
    font-size: 13px;
}

.newsletter .content form .subscribe-btn:hover {
    cursor: pointer;
    color: #EF7E6B;
}

.newsletter .close-btn {
    color: #BDC3C7;
    font-size: 20px;
}

.newsletter .close-btn:hover {
    color: #1D1D1D;
    cursor: pointer;
}