.container {
    width: 100%;
    height: 92.4vh;
    display: flex;
}

.container div {
    flex-basis: 50%;
}

/* ========================================= Map ========================================= */
.container #map {
    height: inherit;
    border-right: 1px solid rgba(189, 195, 199, 0.5);
}

.container .mapboxgl-popup-content {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 100%;
    background-color: #F0BB40;
}

/* ========================================= Place List ========================================= */
.place-list {
    /* remove this */
    display: none;

    height: inherit;
    padding: 0 20px;
    overflow-y: auto;
}

.place-list .search-form {
    display: flex;
    align-items: center;
    margin: 15px 0;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.place-list .search-form i {
    padding: 10px 5px 10px 10px;
    color: #93989B;
}

.place-list .search-form .search-place {
    flex: 1;
    padding: 10px 10px 10px 5px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: none;
}

.place-list .place-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px 15px;
}

.place-grid .place-item {
    border: 1px solid rgba(189, 195, 199, 0.5);
    text-decoration: none;
    color: #858585;
}

.place-grid .place-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.place-grid .place-item img {
    width: 100%;
}

.place-item .content {
    padding: 7px 12px 12px 12px;
    text-wrap: wrap;
}

.place-item .content .place-name {
    color: #1D1D1D;
    font-size: 15px;
}

.place-item .content .ri-map-pin-line {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.place-item .content .place-address {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    font-weight: 400;
}

.place-item .content .ratings i {
    color: #F0BB40;
}

/* ========================================= Place Detail ========================================= */
.place-detail {
    display: none;
    height: inherit;
    padding: 15px 20px;
    overflow-y: auto;
}

.place-detail .name {
    font-weight: 500;
    font-size: 25px;
    margin-top: 15px;
    color: #1D1D1D;
}

.place-detail .address {
    display: inline-block;
    margin: 10px 0;
}

.place-detail .address,
.place-detail .last-updated {
    color: #858585;
    font-size: 13px;
}

.place-detail .last-updated {
    display: inline-block;
}

.place-detail .ratings {
    display: inline-block;
    color: #F0BB40;
}

.place-detail .image-slideshow {
    margin-top: 7px;
    /* Position the image container (needed to position the left and right arrows) */
    position: relative;
}

.place-detail .image-slideshow .slides {
    display: none;
}

.place-detail .image-slideshow .slides img {
    width: 100%;
    object-fit: contain;
    height: 450px;
    background-color: black;
}

.place-detail .image-slideshow button {
    cursor: pointer;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    outline: none;
    padding: 16px;
    position: absolute;
    user-select: none;
    top: 35%;
}

.place-detail .image-slideshow button:hover {
    background-color: rgba(189, 195, 199, 0.5);
}

.place-detail .image-slideshow .next-btn {
    right: 0;
}

.place-detail .image-slideshow .thumbnails {
    opacity: 0.6;
    cursor: pointer;
}

.place-detail .image-slideshow .active,
.place-detail .image-slideshow .thumbnails:hover {
    opacity: 1;
}

.place-detail .image-slideshow .row {
    display: flex;
    gap: 3px;
}

.place-detail .image-slideshow .row img {
    object-fit: cover;
    /* Based on the 'gap' property above */
    width: calc((100% / 4) - (3 * 3px / 4)); 
}

.place-detail .amenities h2 {
    font-weight: 500;
    font-size: 23px;
    margin: 15px 0 5px 0;
}

.place-detail .amenities .amenity {
    padding: 20px 0;
    border-bottom: 1px solid rgba(189, 195, 199, 0.5);
}

.place-detail .amenities .amenity i {
    margin-right: 10px;
    font-size: 18px;
}

.place-detail .reviews {
    margin-top: 20px;
}

.review-form .my-review {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
    resize: none;
    overflow: hidden;
}

.star-rating {
    display: inline-flex;
    align-items: center;
}

.star {
    font-size: 30px;
    color: #ddd; /* Default gray for unselected stars */
    cursor: pointer;
    user-select: none;
}

.star.selected {
    color: #F0BB40; /* Highlight color for selected stars */
}

#rating-display {
    margin: 5px 10px 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #858585;
}

.review-form .submit-review {
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    color: #E74C3C;
    background: none;
    font-family: 'Merriweather', serif;
    border: 1px solid #E74C3C;
}

.review-form .submit-review:hover {
    cursor: pointer;
    color: #EF7E6B;
    border: 1px solid #EF7E6B;
}

.review-item {
    padding: 10px 0;
    margin: 10px 0;
}

.review-item img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.review-item .user {
    display: inline-block;
    vertical-align: middle;
    color: #1D1D1D;
    font-size: 15px;
    margin-left: 7px;
}

.review-item .date-posted {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 7px;
    color: #858585;
    font-weight: 400;
}

.review-item .content {
    color: #858585;
    font-size: 13px;
    line-height: 2;
}

/* ========================================= Manage Place ========================================= */
.manage-place {
    /* Uncomment this */
    /* display: none; */

    height: inherit;
    padding: 15px 20px;
    overflow-y: auto;
}

.manage-place h2 {
    font-size: 20px;
    margin: 15px 0;
}

.manage-place form label {
    margin-top: 10px;
    font-size: 16px;
    display: block;
}

.manage-place form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Merriweather', serif;
    outline: none;
}

.manage-place form input[type=text]{
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.manage-place form .current-loc-btn {
    background: none;
    margin-bottom: 10px;
    border: none;
    color: #E74C3C;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
    cursor: pointer;
}

.manage-place form .current-loc-btn:hover {
    color: #EF7E6B;
}

.manage-place form .ri-map-pin-line {
    margin-right: 5px;
    font-size: 17px;
    color: #E74C3C;
}

.manage-place form #place-about {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
    font-family: 'Merriweather', serif;
    outline: none;
    color: #1D1D1D;
    border: 1px solid rgba(189, 195, 199, 0.5);
    resize: none;
    overflow: hidden;
}

.manage-place form #add-file-btn {
    padding: 10px 20px;
    margin: 10px 0 0 0;
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    background: none;
    background-color: #E74C3C;
    color: white;
}

.manage-place form #add-file-btn:hover {
    cursor: pointer;    
    background-color: #EF7E6B;
}

.manage-place form #add-file-btn i {
    font-size: 16px;
    margin-right: 5px;
}

.manage-place form .note {
    font-size: 13px;
    color: #858585;
    margin: 10px 0;
    line-height: 2;
}

.manage-place form .note .highlight {
    font-weight: 700;
}

.manage-place form ul#image-preview {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
    user-select: none;
    margin: 15px 0;
}

.manage-place form ul#image-preview li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: move;
}

.manage-place form ul#image-preview li img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.manage-place form ul#image-preview li span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #E74C3C;
    color: white;
    cursor: pointer;
    padding: 0 2px;
    border-radius: 100%;
    font-family: 'Merriweather', serif;
}

.manage-place form .amenities-label {
    margin-bottom: 10px;
}

.manage-place .input-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: move; /* Indicates the draggable functionality */
}

.manage-place form .input-container input {
    flex-grow: 1;
    font-weight: 500;
}

.manage-place form .remove-btn {
    background-color: #EF7E6B;
    color: white;
    border: none;
    padding: 11px 10px;
    font-family: 'Merriweather', serif;
}

.manage-place form .remove-btn:hover {
    cursor: pointer;
    background-color: #E74C3C;
}

.manage-place form .add-amenity-btn {
    padding: 10px 20px;
    /* margin: 10px 0; */
    font-family: 'Merriweather', serif;
    outline: none;
    border: none;
    background: none;
    border: 1px solid #E74C3C;
    color: #E74C3C;
}

.manage-place form .add-amenity-btn i {
    font-size: 16px;
}

.manage-place form .add-amenity-btn:hover {
    cursor: pointer;    
    color: #EF7E6B;
    border: 1px solid #EF7E6B;
}

/* ========================================= Newsletter ========================================= */
.newsletter {
    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 0;
    padding: 10px 25px;
    border-top: 1px solid rgba(189, 195, 199, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* remove this */
    display: none;
}

.newsletter .content {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.newsletter .content div {
    text-align: center;
}

.newsletter .content div h5 {
    font-size: 14px;
    color: #1D1D1D;
}

.newsletter .content div p {
    font-size: 11px;
    margin-top: 5px;
    color: #93989B;
}

.newsletter .content form {
    margin: 0 15px;
}

.newsletter .content form .email {
    height: 100%;
    padding: 0 7px;
    font-family: 'Merriweather', serif;
    color: #1D1D1D;
    font-size: 13px;
    width: 250px;
    outline: none;
    border: 1px solid rgba(189, 195, 199, 0.5);
}

.newsletter .content form .subscribe-btn {
    height: 100%;
    background: none;
    padding: 0 10px;
    border: none;
    outline: none;
    font-family: 'Merriweather', serif;
    color: #E74C3C;
    font-size: 13px;
}

.newsletter .content form .subscribe-btn:hover {
    cursor: pointer;
    color: #EF7E6B;
}

.newsletter .close-btn {
    color: #BDC3C7;
    font-size: 20px;
}

.newsletter .close-btn:hover {
    color: #1D1D1D;
    cursor: pointer;
}